/* ------ Reset ------ */
*,
*::before,
*::after {
  margin: 0;
  /* padding: 0; */
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}
/* ------ Reset ------ */

/* ------ Root ------ */

:root {
    font-size: 62.5%;
    --primary-color: #F15A29;
    --primary-color-op42: #F15A296B;
    --primary-color-op62: #F15A299E;
    --secondary-color: #231F20;
    --light-text-color: #F1F2F2;
  }
  
  
  
  /* ------ Root ------ */
  
  /* ------ Fonts ------ */
  /* @font-face {
    font-family: "iranyekan";
    src: url(./../fonts/iranyekan/IRANYekanLight.ttf);
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "iranyekan";
    src: url(./../fonts/iranyekan/IRANYekanMedium.ttf);
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family: "iranyekan";
    src: url(./../fonts/iranyekan/IRANYekanBold.ttf);
    font-style: normal;
    font-weight: 700;
  }
   */
  
  
  /* ------ Fonts ------ */
  body {
    font-family: iranyekan , Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  button {
    font-family: iranyekan , Avenir, Helvetica, Arial, sans-serif;
  }
  
  /* container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
  }
  /* container */
  
  .content-container {
    max-width: 1050px;
    margin: 0 auto;
  }
  